*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body{
  padding: 0;
  box-sizing: border-box;
  background-color: #29292E;
  padding-top: 80px;
  padding-bottom: 80px;
}

#page{
  max-width: 1280px;
  background-color: #F5F4F0;
  box-sizing: border-box;
  margin: auto;
}

main{
  width: 1120px;
  margin: auto 80px;
}


.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}

#title p{
  color: #E1624F;
  padding-top: 88px;
  line-height: bold;
  font-size: 16px;
  font-weight: bold;
}

#title h1{
  color: #1B1B1B;
  font-size: 36px;
}

#introducao img{
  width: 100%;
  height: 660px;
  margin-top: 40px;
}

#introducao p{
  color: #333333;
  font-size: 16px;
  text-align: center;
  
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
  margin-top: 40px;
  margin-bottom: 64px;
}

span{
  color: #E1624F;
  padding-top: 88px;
  font-weight: bold;
  font-size: 16px;
}

h2{
  font-weight: bold;
  color: #1B1B1B;
  font-size: 32px;
}

.title-list p{
  font-size: 16px;
  color: #333333;
  margin-top: 8px;
  margin-bottom: 64px;
}

.list img{
  width: 100%;
  height: 350px;
}

li{
  font-size: 28px;
  font-weight: bold;
  margin-left: 35px;
  margin-top: 20px;
}
